@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

html, body{
    font-family: 'Joan', serif;
    background-image: url(./pages/monsters/assets/background/fuoco.jpeg);
    color: #ff2929;
}
.navbar {
    border-bottom: 3px solid #bc0f0f;
}

.home-container{
    margin-top: 100px; 
    padding: 5px;
    text-align: center;
}
.category-item{
    margin: 8px 5px;
} 
.list-group-item{
    background-color: hwb(0deg 50% 50% / 60%);
    color:white
}





