@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

html, body {
    font-family: 'Joan', serif;
}
.logo-custom {
    width: 45px;
    height: 30px;
}

.creature-info {
    font-style: italic;
}

.accordion {
    margin-bottom: 8px; 
    --bs-accordion-border-color: #6d757d;
    --bs-accordion-bg: #2f2f2f80;
    --bs-accordion-btn-color: white;
    --bs-accordion-color: white
    
} 

.accordion-item:not(:first-of-type) {
    border-top: 1px solid #DDD;
}



.accordion-button:not(.collapsed) {
    color: #bc0f0f;
    background-color: transparent;
}


.accordion-button:focus {
    border-color: #bc0f0f;
    box-shadow: 0 0 0 0.25rem rgba(4, 4, 4, 0.25);
}

.accordion-monster-header {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-danger {
    --bs-btn-bg: #bc0f0f;
    --bs-btn-border-color: #bc0f0f;
}

.accordion-button::after {
    content: unset;
}

.img-div{
    display: flex;
    justify-content: center;
}

.img-creature {
    max-width: 400px;
    height: 250px;
}

.img-header {
    width: 90vw;
    max-width: 500px;
    display: block;
    height: auto;
    margin: 8px auto;
}

.creature-title{
    font-size: xx-large;
    text-align: center;
}

.breadcrumb-button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none; 
    color: whitesmoke;
}

.info-name {
    font-size:x-large;
    color: #bc0f0f;
    font-weight: 700;
    text-transform: uppercase;
    margin: 24px 0 8px;
}

.info-name-tr {
    width: 30%;
}

/*  ber il button toggle */

.sidepanel { 
    height: 45px;
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: -1;
    /* Stay on top */
    bottom: 23px;
    right: 25px;
    background-color: rgba(17, 17, 17, 0);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    border-radius: 10px 50px 50px 10px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    font-size: 36px;
    margin-left: 50px;
    bottom: -10px;
    right: 0px;
    color: rgba(213, 213, 213, 0);
    z-index: 0;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    width: 55px;
    height: 55px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: rgb(123, 37, 37);
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000; 
    /* display: flex; 
    align-items: center;
    justify-content: center; */
}

.lord-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    left: -2px;
    top: -2px;
}
.search-bar {
    width: 235px;
    margin-top: 2px;
    margin-left: 8px;
}

.breadcrumbs{
margin-top: 20px; 

}

.container{
    padding-top: 70px;
    height: 100%;
    width: 100%;
    
}

.page{
    width: 100%;
    height: fit-content;
    display: grid;
}

@media only screen and (min-width: 1000px) {
    .page { 
        grid-template-columns: auto auto;
    }

    .creature-title{
        grid-column: 1/span 2;
    }

    .creature-info{
        grid-column: 1/span 2;
        text-align: center;
    }
    
    .img-div { 
        grid-column: 2;
        grid-row: 4;
    }

    .img-creature{
        height: 500px;
        width: auto;
    }
    .stats-div{
        grid-column: 1;
        grid-row: 5;
    }
    
    .grid-div{
        grid-row: 4;
    }

    .creature-text-div{
        grid-column: 1/span 2;
    }
}

/* bottone sopra riultato autocomplete, porta a link corripondente a mostro */
.go-to-autocompleted-page-button{ 
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    background-color: transparent; 
    border: none;  
    width: 100%;

}

.navbar {
    border-bottom: 2px solid #bc0f0f;
}

.table-crystal {
    background-color: #2f2f2f80;
    color: white;
}

.table-default{
    background-color: #bc0f0f33;
}
.table{
    --bs-table-hover-color: #bc0f0f;
}

.accordion{
    --bs-accordion-border-color: #6d757d;
    --bs-accordion-bg: #2f2f2f80;
    --bs-accordion-btn-color: white;
    --bs-accordion-color: white
}


.carousel-control-prev{
    background-image: url(./assets/arrow_back_ios_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5%;
    opacity: 0.1;
    position: fixed;
    margin-left: 20px;
    
}

.carousel-control-prev:focus{
    opacity: 0.1;
}

.carousel-control-prev:hover{
    opacity: 1;
}


.carousel-control-next{
    background-image: url(./assets/arrow_forward_ios_FILL0_wght400_GRAD0_opsz48.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 5%;
    opacity: 0.1;
    position: fixed;
}

.carousel-control-next:focus{
    opacity: 0.1;
}

.carousel-control-next:hover{
    opacity: 1;
}




