#creature-info{ 
    font-style: italic;
}

.accordion{
    margin-bottom: 8px;
} 

.img-creature{  
    width: 100%;
} 

.img-header{ 
    max-width: 500px;
    display: block;
    height: auto;
    margin: 0px auto;
} 

#creature-title{ 
    font-size: xx-large;
} 

.breadcrumb-button{ 
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
}

.logo-custom{ 
    width: 45px;
    height: 30px;
} 

#page-container{ 
    margin-top: 60px;
}