
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: #f9f9f9 url(./assets/body-background.jpg) repeat;
    font-family: 'Roboto', sans-serif;
}

.monsters-img{ 
    width: 35px;
    height: 35px;
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center; 
    margin: 0px 18px 0 0;
}

.single-monster-container {
    margin: 10px 0;
    box-shadow: 2px 2px 5px 1px #ddd;
} 

.accordion-item:not(:first-of-type){
    border-top: 1px solid #DDD ;
}

.navbar{
  border-bottom: 2px solid #bc0f0f;
}

.accordion-button:not(.collapsed){
  color: #bc0f0f;
  background-color: transparent;
}


.accordion-button:focus {
    border-color: #bc0f0f;
    box-shadow: 0 0 0 0.25rem rgba(188, 15, 15, 0.25);
}

.accordion-monster-header{
    flex: 1; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
}

.btn-danger {
    --bs-btn-bg: #bc0f0f;
    --bs-btn-border-color: #bc0f0f;
}

.accordion-button::after {
    content: unset;
} 

.breadcrumb-style{ 
    background-color: transparent;
    background-repeat: no-repeat;
    border: none; 
    margin-top: 100px;
}