@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
    background: #f9f9f9 url(./assets/background/fuoco.jpeg);
    font-family: 'Joan', serif;
    color: white;
}

.monsters-img {
    width: 35px;
    height: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin: 0px 18px 0 0;
}

.single-monster-container {
    margin: 10px 0;
    box-shadow: 2px 2px 5px 1px #ddd;
}

.breadcrumb-style {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    margin-top: 100px; 
    color: whitesmoke;
}

#monsters-container {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 16px;
    padding-bottom: 12px;
}

.flip-card {
    
    width: 100%;
    aspect-ratio: 4/5;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card .monster-name-container {
    transition: opacity 0.8s;
    border-radius: 8px;

    opacity: 1;
}

.flip-card:hover .monster-name-container {
    transition: opacity 0.8s;
    opacity: 0;
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
    border-radius: 8px;

}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    color: black;
}

/* Style the back side */
.flip-card-back {
    position: relative;
    background-color: #00000079;
    color: white;
    transform: rotateY(180deg);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.monster-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bc0f0f33;
    color: #DDD;
    height: 20%;
}

.img-container {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.monster-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.see-more {
    color: white;
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 4px;
    bottom: 4px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
}

.sidepanel { 
    /* Specify a height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Stay on top */
    bottom: 23px;
    right: 25px;
    background-color: rgba(17, 17, 17, 0);
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    overflow-y: hidden;
    /* Disable horizontal scroll */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidepanel */
    border-radius: 10px 50px 50px 10px;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    font-size: 36px;
    margin-left: 50px;
    bottom: -10px;
    right: 0px;
    color: rgba(213, 213, 213, 0);
    z-index: 0;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    width: 55px;
    height: 55px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: rgb(123, 37, 37);
    border-radius: 100%;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 1000; 
}

.lord-icon{
    width: 60px;
    height: 60px;
    position: absolute;
    left: -2px;
    top: -2px;
}
.search-bar {
    width: 235px;
    margin-top: 2px;
    margin-left: 8px;
}


.autocomplete { 
    /* the container must be positioned relative: */
  position: relative;
    display: inline-block;
} 

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=search] {
    background-color: #f1f1f1;
    width: 100%;
}

.autocomplete-items {
    overflow-y: scroll;
    max-height: 200px;
    height: fit-content;
    width: 60%;
    position: fixed;
    color: black;

    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/

    bottom: 70px;
    border-radius: 10px;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
}

.autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: rgb(123, 37, 37) !important;
    color: #ffffff;
} 

/* bottone sopra riultato autocomplete, porta a link corripondente a mostro */
.go-to-autocompleted-page-button{ 
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px; 
    background-color: transparent; 
    border: none;  
    width: 100%;
    
}

.monster-card-stats {
    border: 1px solid rgb(255, 255, 255);
    width: 100px; 
}

.monster-card-stats th {
    border-left: 1px solid rgb(255, 255, 255); 
    padding: 0px 3px;
}

.monster-card-stats td {
    border-left: 1px solid rgb(255, 255, 255);
}

.stats-grid-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center; 

}

.navbar {
    border-bottom: 2px solid #bc0f0f;
}

